<!DOCTYPE html>
<html lang="pt_PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= titulo %> - Login</title>
    
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--<script src="assets/login/script.js"></script>-->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="assets/login/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="login-pagina">
    <div class="form body-class">
        <h2>Login</h2> 
        <form action="/login" method="POST" class="form-login">
            <span class="span_awesome">
            <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <input type="text" maxlength="12" class="changetype body-class" name="username" placeholder="Utilizador">
            <span class="span_awesome">
            <i class="fa fa-key" aria-hidden="true"></i>
            </span>
            <input type="password" maxlength="12" class="changetype body-class" name="codigo" placeholder="Código do utilizador">
            <span class="span_info" id="span-info-login"></span>
            <input type="submit" class="body-class" value="Continuar" id="continuar"></input>
        </form>
        <a href="/"><i class="fas fa-home"></i></a>
    </div>
</div>
</body>